body {
    font-family: Arial, sans-serif;
    background: url('911.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    }
    
.container {
    background-color: rgba(255, 255, 255, 0.614);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; /* vagy fix magasság, ha szükséges */
    }
    
input[type="text"] {
    width: 80%; /* 100% helyett kisebb szélesség az arányosság érdekében */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    text-align: center; /* Szöveg középre igazítása a mezőben */
    }
    
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    display: block;
    margin: 10px auto;
    }
    
button:hover {
    background-color: #0056b3;
    }
    
.output {
    margin-top: 20px;
    font-size: 20px;
    color: #000000;
    }

.extra {
    margin-top: 20px;
    font-size: 16px;
    color: #202020;
    }